include *.md LICENSE

recursive-include flasgger *
recursive-include flasgger/ui2 *
recursive-include flasgger/ui2/static *
recursive-include flasgger/ui2/static/css *
recursive-include flasgger/ui2/static/fonts *
recursive-include flasgger/ui2/static/images *
recursive-include flasgger/ui2/static/lang *
recursive-include flasgger/ui2/static/lib *
recursive-include flasgger/ui2/templates *
recursive-include flasgger/ui2/templates/flasgger *
recursive-include flasgger/ui3 *
recursive-include flasgger/ui3/static *
recursive-include flasgger/ui3/static/css *
recursive-include flasgger/ui3/static/fonts *
recursive-include flasgger/ui3/static/images *
recursive-include flasgger/ui3/static/lang *
recursive-include flasgger/ui3/static/lib *
recursive-include flasgger/ui3/templates *
recursive-include flasgger/ui3/templates/flasgger *
recursive-include demo_app *
recursive-include etc *
recursive-include examples *
recursive-include tests *

recursive-exclude flasgger __pycache__
recursive-exclude flasgger *.py[co]
