include *.md LICENSE
include flasgger/username_definitions.yml
recursive-include flasgger/swaggerui *
recursive-include flasgger/swaggerui/js *
recursive-include flasgger/swaggerui/lang *
recursive-include flasgger/swaggerui/images *
recursive-include flasgger/swaggerui/fonts *
recursive-include flasgger/swaggerui/css *
