include *.md LICENSE
recursive-include flasgger/swaggerui *
recursive-include flasgger/swaggerui/lib *
recursive-include flasgger/swaggerui/lang *
recursive-include flasgger/swaggerui/images *
recursive-include flasgger/swaggerui/fonts *
recursive-include flasgger/swaggerui/css *
