# optional (for dev)
marshmallow
apispec
apispec-webframeworks
flask-restful
pep8
flake8
pytest
flex
coveralls
pytest-cov
decorator
wheel
flask-jwt
twine

# for pypi markdown support
readme_renderer
setuptools

# install Flask-OpenAPI itself as editable
-e .
-e etc/flask_openapi_package
