# optional (for dev)
marshmallow
apispec>=1.0.0b5
apispec-webframeworks
flask-restful
pep8==1.5.7
flake8==2.4.1
pytest>3.6
flex
coveralls
pytest-cov
decorator
wheel
flask-jwt
twine>=1.11.0

# for pypi markdown support
readme_renderer
setuptools>=40.4.2

# install flasgger itself as editable
-e .
-e etc/flasgger_package
