# required
Flask>=0.10
PyYAML>=3.0
jsonschema>=2.5.1
six>=1.10.0
mistune

# optional (for dev)
marshmallow
apispec
flask-restful
pep8==1.5.7
flake8==2.4.1
pytest>=3.0.7
flex
coveralls
pytest-cov
decorator
wheel

# install flasgger itself as editable
-e .
